textarea {
  resize: vertical;
}

th:last-child,
td:last-child {
  text-align: right;
}

.affix {
  top: 20px;
}

.card-md {
  margin-top: 3em;
  margin-bottom: 3em;
}
.card-sm {
  margin-top: 1em;
  margin-bottom: 1em;
}
.card-xs {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.disabled {
  pointer-events: none;
}

.editable {
  border: thin solid transparent;
}
.editable:hover {
  border: thin dashed green;
}

.emphasis {
  background-color: yellow;
}

.feedback {
  margin-left: 1em;
}

.font-lg {
  font-size: 275%;
}

.scrollable {
  max-height: 300px;
  overflow: auto;
}

.table-borderless th,
.table-borderless td {
  border: 0 !important;
}

#navbar-top,
#navbar-bottom {
  border-radius: 0;
  border: 0;
}
#navbar-bottom {
  p {
    margin-left: 0;
  }
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .affix {
    position: static;
  }
  .font-lg {
    font-size: 200%;
  }
  #navbar-bottom p {
    padding-left: 15px;
  }
}
@media (max-width: 479px) {
  .font-lg {
    font-size: 125%;
  }
}
