textarea {
  resize: vertical;
}

th:last-child,
td:last-child {
  text-align: right;
}

.affix {
  top: 20px;
}
@media (max-width: 767px) {
  .affix {
    position: static;
  }
}

.table-borderless th,
.table-borderless td {
  border: none;
}

.card-lg {
  margin-top: 7em;
  margin-bottom: 7em;
}
.card-sm {
  margin-top: 1em;
  margin-bottom: 1em;
}

.font-lg {
  font-size: 300%;
}
.font-xl {
  font-size: 700%;
}

.jumbotron {
  margin-bottom: 10px;
}
.jumbotron button {
  height: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.jumbotron button span {
  margin-left: 1em;
  margin-right: 1em;
}

.feedback {
  margin-left: 1em;
}

.progress {
  background: #337ab7;
  height: 1em;
  width: 0%;
}

#navbar-top, #navbar-bottom {
  border-radius: 0;
  border: 0;
}
#navbar-bottom {
  p {
    margin-left: 0;
  }
  a {
    padding-right: 0;
  }
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .spotlight {
    width: 100%;
  }
  .font-lg {
    font-size: 200%;
  }
  #navbar-bottom p {
    padding-left: 15px;
  }
}
@media (max-width: 480px) {
  .font-lg {
    font-size: 100%;
  }
}
