<!doctype html>
<html lang="{{ request.locale_name }}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% block page_description %}{{ website_name }}{% endblock %}">
<meta name="author" content="{{ website_owner }}">
<title>{% block page_title %}
{% if request.path[1:] %} {{ render_title(request.path) }} &middot; {% endif %}
{{ website_name }}
{%- endblock %}</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
{% block head_style_loaded %}
<link rel="stylesheet" href="/site.min.css">
{% endblock %}
<style>
{% block head_style_inline %}{% endblock %}
</style>
<!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
var IR = {}, x;
x = IR.posts = {};
x.assets_url = '{{ request.static_path("invisibleroads_posts:assets/") }}';
x.website_owner = '{{ website_owner }}';
{% block head_script_inline %}{% endblock %}
</script>
</head>
<body>
<nav id="navbar-top" class="navbar navbar-default navbar-static-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-top" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="{{ website_url }}">{% block body_brand %}{{ website_name }}{% endblock %}</a>
</div>
<div id="navbar-collapse-top" class="navbar-collapse collapse">
{% block body_navigation_top %}{% endblock -%}
</div>
</div>
</nav>
{% block body_header %}{% endblock %}
<div class="container">
{% block body_content %}{% endblock %}
</div>
{% block body_footer %}{% endblock %}
<nav id="navbar-bottom" class="navbar navbar-default navbar-static-bottom">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-bottom" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<p class="navbar-text">&copy; 2016 {{ website_owner }}</p>
</div>
<div id="navbar-collapse-bottom" class="collapse navbar-collapse">
{% block body_navigation_bottom %}{% endblock -%}
</div>
</div>
</nav>
<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ request.static_path('invisibleroads_posts:assets/jquery.min.js') }}">\x3C/script>')</script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>$.fn.modal || document.write('<script src="{{ request.static_path('invisibleroads_posts:assets/bootstrap/js/bootstrap.min.js') }}">\x3C/script>')</script>
{% block body_script_loaded %}
<script src="/site.min.js"></script>
{% endblock %}
<script>
{% block body_script_inline %}{% endblock %}
</script>
</body>
</html>
