<!doctype html>
<html lang="{{ request.locale_name }}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% block page_description %}{{ website_name }}{% endblock %}">
<meta name="author" content="{{ website_owner }}">
<title>{% block page_title -%}
{% if request.path[1:] %}{{ render_title(request.path) }} &middot; {% endif %}{{ website_name }}
{%- endblock %}</title>
<link rel="shortcut icon" type="image/png" href="{{ base_url }}favicon.ico"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% block head_style_loaded %}
<link rel="stylesheet" href="{{ base_url }}site.min.css">
{% endblock %}
<style>
{% block head_style_inline %}{% endblock %}
</style>
<!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
{% if google_analytics_property_id %}
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', '{{ google_analytics_property_id }}', 'auto');
{% for plugin_name in google_analytics_plugins %}
ga('require', '{{ plugin_name }}');
{% endfor %}
{% endif %}
var IR = {}, x;
x = IR.posts = {};
x.assets_url = '{{ request.static_path("invisibleroads_posts:assets/") }}';
x.base_url = '{{ base_url }}';
x.website_owner = '{{ website_owner }}';
{%- block head_script_inline %}{% endblock -%}
{% if google_analytics_property_id %}
ga('send', 'pageview');
{% endif %}
</script>
</head>
<body>
<nav id="navbar-top" class="navbar navbar-default navbar-static-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-top" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="{{ brand_url }}">{% block body_brand %}{{ website_name }}{% endblock %}</a>
</div>
<div id="navbar-collapse-top" class="navbar-collapse collapse">
{% block body_navigation_top %}{% endblock -%}
</div>
</div>
</nav>
{% block body_header %}{% endblock %}
<div class="container">
{% block body_content %}{% endblock %}
</div>
{% block body_footer %}{% endblock %}
<nav id="navbar-bottom" class="navbar navbar-default navbar-static-bottom">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-bottom" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<p class="navbar-text">&copy; {{ website_year }} {{ website_owner }}</p>
</div>
<div id="navbar-collapse-bottom" class="navbar-collapse collapse">
{% block body_navigation_bottom %}{% endblock -%}
</div>
</div>
</nav>
<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ request.static_path('invisibleroads_posts:assets/jquery.min.js') }}">\x3C/script>')</script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>$.fn.modal || document.write('<script src="{{ request.static_path('invisibleroads_posts:assets/bootstrap/js/bootstrap.min.js') }}">\x3C/script>')</script>
{% block body_script_loaded %}
<script src="{{ base_url }}site.min.js"></script>
{% endblock %}
<script>
{% block body_script_inline %}{% endblock %}
</script>
{% if google_adsense_publisher_id %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle = window.adsbygoogle || []).push({google_ad_client: '{{ google_adsense_publisher_id }}', enable_page_level_ads: true});</script>
{% endif %}
</body>
</html>
