{% macro navigation_list(request_path, link_names, list_class) %}
<ul class="nav navbar-nav {{ list_class }}">
{{ navigation_links(request_path, link_names) -}}
</ul>
{% endmacro %}

{% macro navigation_links(request_path, link_names) %}
{% for link_name in link_names %}
{% set link_path = '/' + link_name.lower() %}
<li{% if request_path == link_path %} class="active"{% endif %}><a href="{{ link_path }}">{{ link_name }}</a></li>
{% endfor %}
{% endmacro %}

{% macro confirmation_modal(id, title, default_button_text='OK', primary_button_text='', backdrop='') %}
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}-title" data-backdrop="{{ backdrop }}">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header"><h4 class="modal-title" id="{{ id }}-title">{{ title }}</h4></div>
<div class="modal-body">{{ caller() }}</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">{{ default_button_text }}</button>
{% if primary_button_text %}
<button type="button" class="btn btn-primary">{{ primary_button_text }}</button>
{% endif %}
</div>
</div>
</div>
</div>
{% endmacro %}
