{% extends 'invisibleroads_posts:templates/base.jinja2' %}

{% block body_content %}
{% for section in website_sections %}
<div id="{{ section.lower() }}"><h2>{{ section }}</h2></div>
{% endfor %}
{% endblock %}
